# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php

# TrackDragon
web/app/themes/dragon/trackdragon/alt-notify
web/app/themes/dragon/trackdragon/alt-react-router-example
web/app/themes/dragon/trackdragon/alt-tutorial
web/app/themes/dragon/trackdragon/alt
web/app/themes/dragon/trackdragon/avr/media/tmp/*
web/app/themes/dragon/trackdragon/flux-comparison
web/app/themes/dragon/trackdragon/frnt
web/app/themes/dragon/trackdragon/marty-chat-es6
web/app/themes/dragon/trackdragon/marty-chat
web/app/themes/dragon/trackdragon/marty-todomvc
web/app/themes/dragon/trackdragon/marty
web/app/themes/dragon/trackdragon/martyjs
web/app/themes/react-wp/

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# Windows, Mac OS
desktop.ini
.ds_store
__macosx