<ul>
    <li><a href="http://www.w3.org/TR/webaudio/">Web Audio API</a>
    <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
    <li><a href="http://jquery.com/">jQuery</a>
    <li><a href="http://backbonejs.org/">Backbone.js</a>
    <li><a href="http://requirejs.org/">RequireJS</a>
    <li><a href="http://lesscss.org/">LESS</a>
</ul>
<h4>Contact me:</h4>
<ul>
    <li>marty@companyjuice.com
    <li><a href="http://companyjuice.com/">companyjuice.com</a>
</ul>

<img class="ninja-logo" src="apple-touch-icon-114x114-precomposed.png" alt="Ninja logo">