body {
	background-color: #222222;
	color: #cccccc;
}

.rooms, 
.messages,
.projects {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rooms .room, 
.messages .message,
.projects .project {
  margin: 10px 0;
}
